<!-- <div class="layout">
  <aside class="sidebar">
    <h2 class="logo">📚 Pahana Edu</h2>
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/items">Items</a></li>
        <li><a routerLink="/account-details">View Account Details</a></li>
        <li><a routerLink="/billing">Billing</a></li>
        <li><a routerLink="/help">Help</a></li>
        <li><a routerLink="/reports">Reports</a></li>
      </ul>
    </nav>
  </aside>

  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div> -->


<div class="layout">
  <aside class="sidebar d-flex flex-column vh-100 p-3"> 
    <nav>
      <ul class="nav flex-column mt-4">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link d-flex align-items-center gap-2">
            📚 Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/customers" class="nav-link d-flex align-items-center gap-2">
            🧑‍🤝‍🧑 Customers
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/items" class="nav-link d-flex align-items-center gap-2">
            📦 Items
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/account-details" class="nav-link d-flex align-items-center gap-2">
            🗂️ Account Details
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/billing" class="nav-link d-flex align-items-center gap-2">
            💳 Billing
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/help" class="nav-link d-flex align-items-center gap-2">
            🆘 Help
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/reports" class="nav-link d-flex align-items-center gap-2">
            📈 Reports
          </a>
        </li>
      </ul>
      
    </nav>
    <div class="mt-auto text-center">
      <button class="btn btn-dark w-100 rounded-pill fw-bold">
        <i class="bi bi-box-arrow-in-left"></i> Log Out
      </button>
    </div>
  </aside>

  <main class="main-content p-4">
    <router-outlet></router-outlet>
  </main>
</div>

