<aside class="sidebar">
    <h2 class="logo">📚 Pahana Edu</h2>
    <nav>
      <ul>
        <li><a routerLink="/dashboard">Dashboard</a></li>
        <li><a routerLink="/customers">Customers</a></li>
        <li><a routerLink="/items">Items</a></li>
        <li><a routerLink="/account-details">View Account Details</a></li>
        <li><a routerLink="/billing">Billing</a></li>
        <li><a routerLink="/help">Help</a></li>
        <li><a routerLink="/reports">Reports</a></li>
      </ul>
    </nav>
  </aside>

  
<main class="main-content">
    <router-outlet></router-outlet>
  </main>